<div class="col-md-8 content-main">
				 <div class="content-grid">	
				 <% @blogs.each do  |blog| %>				 
					 <div class="content-grid-info">
						 <img src="<%= image_path('post1.jpg') %>" alt=""/>
						 <div class="post-info">
						 <h4><a href="single.html"><%= blog.title %></a>  July 30, 2014 / 27 Comments</h4>
						 <p><%= blog.short_description %></p>
						 <%= link_to "READ MORE", blog_path(blog) %>
						 </div>
					 </div>
					<% end %>
				 </div>
			  </div>