<!---header---->			
<div class="header">  
	 <div class="container">
		  <div class="logo">
			  <a href="index.html"><img src="<%= image_path('logo.jpg') %>" title="" /></a>
		  </div>
			 <!---start-top-nav---->
			 <div class="top-menu">
				<%= render 'layouts/search' %>
				<span class="menu"> </span> 
				<%= render 'layouts/menu' %>
			 </div>
			 <div class="clearfix"></div>
	 </div>
</div>
<!--/header-->
